@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5b6467;
background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.quiz-container{
     background-color: #fff;
    width: 600px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0,  .1);
}
.text-container{
    padding: 40px;
    margin-bottom: -20px;

}
.text-container h2{
    font-size: 1.5rem;
    padding: 10px;
    font-weight:500;
}
ul{
    list-style-type: none;
  
}
.text-container li,label{
    cursor: pointer;
    margin: 20px 0;
    font-size: large;
}
button{
    width: 100%;
    height: 70px;
    border: none;
    background-color:rgb(132, 0, 255);
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   cursor: pointer;
}
button:hover{
    background-color:rgb(70, 6, 131);
}